.loader {
    position: relative;

    &:before,
    &:after {
         position: absolute;
         content: "";
     }

    &:before {
         width: 80%;
         height: 80%;
         left: 10%;
         bottom: 10%;
         border-radius: 100% 100% 100% 0;
         box-shadow: 0 0 0 .1em currentcolor;
         animation: loader-21 1s linear infinite;
         transform: rotate(-46deg);
     }

    &:after {
         width: 1em;
         height: .3em;
         border-radius: 100%;
         left: 0;
         background-color: rgba(255, 255, 255, 0.2);
         bottom: -.2em;
         z-index: -1;
     }
}

@keyframes loader {
    0% {
        top: 0;
    }
    50% {
        top: -5px;
    }
    100% {
        top: 0;
    }
}
